<%= content_for :title, "About Us - Online Plant Shop" %>

<section class="about-us">
  <header class="header">
    <h1>About Us</h1>
  </header>
  <div class="about-content">
  <p>
  Discover the perfect touch to add life to your home! Explore our online plant shop, offering a diverse range of exquisite plants and flowers, along with essential accessories for their well-being. Our prices are unbeatable, so why wait?
</p>
<p>
  We pride ourselves on selling only the highest quality plants and flowers. Our products are sourced from reputable growers and nurseries, ensuring you receive a healthy and beautiful plant. Ordering is quick and easy, with free shipping on all orders over $50, making it simple to enhance your space without breaking the bank.
</p>
<p>
  Browse our wide selection of plants and flowers on our website. Whether you desire something small and delicate or big and bold, we have the perfect plant for you. Additionally, explore our range of accessories, including potting soil, pots and containers, watering cans, and more.
</p>
  </div>
</section>